
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alphonse</title>
    <body bgcolor="green">
        <h1><center><strong>BIODATA</strong></center></h1><br><br><br><br>
        <center><form action="about">
            <input type ="submit" value="about">
         </form>
         <form action="skills">
            <input type ="submit" value="skills">
         </form>
         <form action="dream">
            <input type ="submit" value="future plans"><br><br><br><br><br><br><br><br>
         </form>
        <end>thanks for visiting</end></center>
        </form>
</body>
</head>